<header class="header">
  <div class="container">
    <nav>
      <ul>
        <li><a href="../src/index.html">Home</a></li>
        <li><a href="../src/library.html">My Library</a></li>
      </ul>
    </nav>
    <div>
      <input placeholder="Movie Search" type="text" />
    </div>

    <h1>
      <svg class="" width="32" height="32">
        <use href="../src/images/sprite/sprite.svg#film"></use>
      </svg>
      Filmoteka
    </h1>
  </div>
</header>

<!-- // "dev": "parcel src/index.html --open", -->
<!-- // "build": "parcel build src/index.html --out-dir=build" -->
