.header {
  max-width: 436px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;

  @include tablet {
    padding: 0;
    max-width: 704px;
  }

  @include desk {
    max-width: 1216px;
  }
}

.header-container {
  position: relative;
  padding: 14px 14px 20px 14px;
  border-radius: 10px;

  background-image: url(images/header/header_mob@1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(images/header/header_mob@2x.png);
  }

  @include tablet {
    padding: 16px;
    border-radius: 15px;

    background-image: url(images/header/header_tab@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(images/header/header_tab@2x.png);
    }
  }

  @include desk {
    max-width: 1216px;
    padding: 16px 32px 32px 32px;

    background-image: url(images/header/header_desk@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(images/header/header_desk@2x.png);
    }
  }
}

.header-wrapper {
  padding-bottom: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include tablet {
    padding-bottom: 105px;

    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 4px;
  }

  @include desk {
    padding-bottom: 151px;
    gap: 8px;
  }
}

.header-nav-list {
  display: flex;
  gap: 4px;

  @include desk {
    gap: 8px;
  }
}

.header-link {
  border-radius: 100px;
  padding: 10px 26px;

  line-height: 1;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header-link-active {
  color: var(--background-color);
  background-color: var(--main-color);
}

.header-home-link {
  padding: 10px 26px;

  @include tablet {
    padding: 12px 24px;
  }

  @include desk {
    padding: 14px 32px;
  }
}
.header-library-link {
  padding: 10px 22px;
  @include tablet {
    padding: 12px 20px;
  }

  @include desk {
    padding: 14px 24px;
  }
}

.opacity-btn {
  opacity: 0.6;
}

.header-form {
  position: relative;
}

.header-input {
  width: 100%;
  border-radius: 100px;
  padding: 10px 14px;
  border: none;
  outline: none;

  line-height: 1;
  font-weight: 400;

  &::placeholder {
    font-weight: 400;
    color: #000;
  }

  @include tablet {
    max-width: 165px;
    padding: 10px 16px;

    font-size: 14px;
  }

  @include desk {
    padding: 12px 16px;
  }
}

.header-search-btn {
  position: absolute;
  top: 10px;
  right: 16px;

  border: none;
  background-color: transparent;

  @include desk {
    top: 12px;
  }
}

.header-search-icon {
  @include tablet {
    width: 16px;
    height: 16px;
  }
}

.header-auth-block {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  min-width: 184px;
  gap: 8px;

  right: 50%;
  transform: translateX(50%);
  top: 400px;

  @include tablet {
    transform: translateX(0);

    right: 16px;
    top: 16px;
  }

  @include desk {
    right: 32px;
    top: 16px;
  }
}

.header-auth-btn {
  text-transform: uppercase;
  border-radius: 100px;
  padding: 10px 22px;
  font-weight: 500;
  line-height: 1;
  border: none;
  color: var(--main-color);
  background-color: var(--background-color);

  @include tablet {
    padding: 12px 20px;
  }

  @include desk {
    padding: 14px 24px;
  }
}

.signOut-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: none;

  fill: var(--main-color);
  background-color: var(--background-color);

  &:hover {
    background-color: rgb(209, 0, 0);
  }

  @include tablet {
    width: 36px;
    height: 36px;
  }

  @include desk {
    width: 40px;
    height: 40px;
  }
}

.user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  font-size: 14px;
  border-radius: 100px;
  padding: 4px 8px;
  font-weight: 500;
  line-height: 1;

  background-color: var(--background-color);

  @include tablet {
    padding: 2px 8px;
    font-size: 12px;
    height: 36px;
  }

  @include desk {
    padding: 4px 8px;
    height: 40px;
  }
}

.user-icon {
  width: 22px;
  height: 22px;

  fill: var(--main-color);

  @include tablet {
    width: 24px;
    height: 24px;
  }

  @include desk {
    width: 32px;
    height: 32px;
  }
}

.header-logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 184px;
  gap: 8px;

  @include tablet {
    margin: 0;
    max-width: 233px;

    justify-content: flex-start;
    gap: 16px;
  }

  @include desk {
    max-width: 360px;
  }
}

.header-logo-icon {
  @include tablet {
    width: 40px;
    height: 40px;
  }

  @include desk {
    width: 60px;
    height: 60px;
  }
}

.header-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #fff;

  @include tablet {
    font-size: 40px;
  }

  @include desk {
    font-size: 64px;
  }
}

// LIBRARY HEADER

.library-header-container {
  position: relative;
  padding-bottom: 74px;

  @include tablet {
    padding-bottom: 16px;
  }

  @include desk {
    padding-bottom: 32px;
  }
}

.library-header-nav-list {
  padding-bottom: 348px;

  @include tablet {
    padding-bottom: 105px;
  }

  @include desk {
    padding-bottom: 151px;
  }
}

.library-movie-list-btn {
  position: absolute;
  bottom: 24px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  gap: 4;

  @include tablet {
    right: 16px;
    bottom: 16px;
    transform: translateX(0);
  }

  @include desk {
    right: 32px;
    bottom: 32px;
    gap: 8px;
  }
}

.library-nav-btn {
  border-radius: 100px;
  padding: 10px 23px;
  border: none;

  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: $accent-color;
  background: '#fff';

  @include tablet {
    padding: 12px 24px;
  }

  @include desk {
    padding: 14px 32px;
  }
}

.queue-btn {
  @include desk {
    padding: 14px 24px;
  }
}

.active-movie-list {
  color: #fff;
  background-color: $accent-color;
}

.header-library-auth-block {
  top: 340px;

  @include tablet {
    top: 16px;
  }

  @include desk {
    top: 16px;
  }
}
