.header {
  max-width: 1216px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  background: linear-gradient(
      314deg,
      rgba(0, 0, 0, 0.49) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(https://s3-alpha-sig.figma.com/img/f0d6/2314/1b7b6dcf74c141453e862cad9789aa14?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AXWHMExdmOSJB3Sq0PyUC~oHVHiWzlXiH1WEq70iuFV2BoSkL5ALEtYNU3YkucWxH7qP-SfWte-TcJPPu6G~nD8JNWJjIPif9iY7A-uP3EgWKxBfbWdkyiII-Qbsxxy9LNXopJpoGp~PU7~VeKJcXdYUuNNN6zupG62Gq4fzmzGWJIrO3mb3qsvUNim~vR1NQ3JyzoFc9GdgkMNULspTB21d-a-PFsyYFmxIA9EvPGtJtJ43teH8ymdlPgXVjyNKkj-0YYEQoKvsInmvgtIA10G94e-3B-9GdMlLfCzZ3cv14hBqlMFHsDI-dLRledzicoCdKYRqCRQVpUHU7FKrQw__);
}
